{
  "presets": [
    [
      "@babel/env",   {
        "useBuiltIns": "usage",
        "corejs": { "version": 3, "proposals": false }
      }
    ], "@babel/typescript",
  ],
  "plugins": ["@babel/proposal-class-properties", "@babel/proposal-object-rest-spread"]
}